doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel='icon', href='/images/favipig.ico', type='image/x-icon') 
  body
    block content
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/javascripts/scripts.js')
    
